<%= form_for(@store) do |f| %>
  <% if @store.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@store.errors.count, "error") %> prohibited this store from being saved:</h2>

      <ul>
      <% @store.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :street_number %><br />
    <%= f.text_field :street_number %>
  </div>
  <div class="field">
    <%= f.label :street %><br />
    <%= f.text_field :street %>
  </div>
  <div class="field">
    <%= f.label :zipcode %><br />
    <%= f.text_field :zipcode %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :country %><br />
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :manager %><br />
    <%= f.text_field :manager %>
  </div>


  <%= f.fields_for :pictures do |pic| %>

    <p>Picture</p>
    <div id="item_image1">
      <div class="field">
        <%= pic.label "Title" %>
        <%= pic.text_field :title %>

      </div>
      <div class="field">
        <%= pic.label "Image" %>
        <%= pic.text_field :image %>

      </div>

      <div class="field">
        <%= pic.label "Thumb" %>
        <%= pic.text_field :thumb %>
      </div>

      <div class="field">
        <%= pic.label "Big" %>
        <%= pic.text_field :big %>
      </div>

      <div class="field">
        <%= pic.label "Description" %>
        <%= pic.text_field :description %>

      </div>

    </div>
    </br>

    


   

  <% end %>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
