<h1>Listing collection_items_assocs</h1>

<table>
  <tr>
    <th>Item</th>
    <th>Collection</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @collection_items_assocs.each do |collection_items_assoc| %>
  <tr>
    <td><%= collection_items_assoc.item_id %></td>
    <td><%= collection_items_assoc.collection_id %></td>
    <td><%= link_to 'Show', collection_items_assoc %></td>
    <td><%= link_to 'Edit', edit_collection_items_assoc_path(collection_items_assoc) %></td>
    <td><%= link_to 'Destroy', collection_items_assoc, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Collection items assoc', new_collection_items_assoc_path %>
