<!DOCTYPE html>
<html>
<head>
  <!--script src="http://tibbr.localdomain.com/tibbr/connect/js/TIB.js"></script-->

  <title>TibbrRetailsApp</title>
  <!--%= stylesheet_link_tag    "application", :media => "all" %-->
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="/retailapp/app/CSS/main.css">

        <!--link rel="stylesheet" href="app/CSS/windows.css">   
         <link rel="stylesheet" href="app/CSS/webfonts/ss-social/webfonts/ss-social.css">
        <link rel="stylesheet" href="app/CSS/webfonts/ss-pika/webfonts/ss-pika.css"-->
        <script src="http://<%= app_url %>/tibbr/connect/js/TIB.js"></script>
        <!--script language="JavaScript" type="text/javascript" src="app/js/lib/coverflow/contentflow.js"></script-->
        <link rel="shortcut icon" href="../favicon.ico"> 
        <!--link rel="stylesheet" type="text/css" href="app/js/lib/accordion/css/demo.css" /-->
        <link rel="stylesheet" type="text/css" href="/retailapp/app/js/lib/accordion/css/style.css" />
        <link rel="stylesheet" type="text/css" href="/retailapp/app/js/lib/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="/retailapp/app/js/lib/jquery-ui-1.10.3/css/ui-lightness/jquery-ui-1.10.3.custom.css" />
        <link rel="stylesheet" type="text/css" href="/retailapp/app/js/lib/prettyPhoto_3.1.5/css/prettyPhoto.css" />

        

	<script type="text/javascript" src="/retailapp//app/js/lib/accordion/js/modernizr.custom.29473.js"></script>
        <output id="rails" data-relative_url_root="<%= app_url %>" style="display: none"></output>
        <output id="rails2" data-client_id="<%= client_id %>" style="display: none"></output>


        <script type="text/javascript" src="/retailapp/app/js/lib/tibbr.js"></script>


</head>
<body>


<%= yield %>


 


</body>
</html>
